<div class="container-xxl bg-white p-0">

    <div class="container-xxl position-relative p-0">

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container my-5 py-5">
      <div class="row align-items-center g-5">
          <div class="col-lg-6 text-center text-lg-start">
              <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
              <p class="text-white animated slideInLeft mb-4 pb-2">We are committed to providing an authentic eating experience that will transport you straight to the heart of Africa. From our colorful decor to our friendly staff, we aim to make every customer feel like they are a part of our family.</p>
              <a routerLink="/order" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Place order</a>
          </div>
          <div class="col-lg-6 text-center text-lg-end overflow-hidden">
              <img class="img-fluid" src="assets/img/hero.png" alt="">
          </div>
      </div>
  </div>
    </div>
    </div>



 <!-- Service Start -->
 <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                      <h5>Master Chefs</h5>
                      <p>Our expert chefs are always on hand to deliver the perfect meal to fit your preference. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                      <h5>Quality Food</h5>
                      <p>We make mouth-watering dishes that will leave your taste buds dancing with delight.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                      <h5>Online Order</h5>
                      <p>From the comfort of your home, you can place order and it will be delivered right to your doorstep</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                      <h5>24/7 Service</h5>
                      <p>Our services are available 24 hours a day, 7 days a week. Just place your order aytime</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <div class="row g-3">
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="assets/img/about-1.jpg">
                  </div>
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="assets/img/about-2.jpg" style="margin-top: 25%;">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="assets/img/about-3.jpg">

                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="assets/img/about-4.jpg">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
              <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>AI Restaurant</h1>
              <p class="mb-4">where we serve the tastiest and most authentic African and Continental dishes. We are dedicated to providing our customers with the ultimate dining experience from the comfort of their own home. Our restaurant was born out of a desire to share the unique flavors and culture of Africa with the rest of the world.</p>
              <p class="mb-4"> Our menu is overflowing with a variety of mouth-watering dishes from different African countries, each prepared </p>
              <div class="row g-4 mb-4">
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                          <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{experienceCount}}</h1>
                          <div class="ps-4">
                              <p class="mb-0">Years of</p>
                              <h6 class="text-uppercase mb-0">Experience</h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                          <h1 class="flex-shrink-0 display-5 text-primary mb-0 counter" data-toggle="counter-up">{{projectCount}}</h1>
                          <div class="ps-4">
                              <p class="mb-0">Popular</p>
                              <h6 class="text-uppercase mb-0">Master Chefs</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <a class="btn btn-primary py-3 px-5 mt-2" routerLink="/about">Read More</a>
          </div>
      </div>
  </div>
</div>
<!-- About End -->

<!-- Menu Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
          <h1 class="mb-5">Most Popular Items</h1>
      </div>
      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
          <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
              <li (click)="filterByMeal('breakfast')" class="nav-item">
                  <button [ngClass]="breakfastClicked ? 'active' : ''" class="d-flex align-items-center text-start mx-3 ms-0 pb-3  button-solid" data-bs-toggle="pill">
                      <i class="fa fa-coffee fa-2x text-primary"></i>
                      <div class="ps-3">
                          <small class="text-body">Popular</small>
                          <h6 class="mt-n1 mb-0">Breakfast</h6>
                      </div>
                  </button>
              </li>
              <li (click)="filterByMeal('lunch')" class="nav-item">
                  <button [ngClass]="lunchClicked ? 'active' : ''" class="d-flex align-items-center text-start mx-3 pb-3 button-solid" data-bs-toggle="pill">
                      <i class="fa fa-hamburger fa-2x text-primary"></i>
                      <div class="ps-3">
                          <small class="text-body">Special</small>
                          <h6 class="mt-n1 mb-0">Lunch</h6>
                      </div>
                  </button>
              </li>
              <li (click)="filterByMeal('dinner')"class="nav-item">
                  <button  [ngClass]="dinnerClicked ? 'active' : ''" class="d-flex align-items-center text-start mx-3 me-0 pb-3 button-solid" data-bs-toggle="pill" >
                      <i class="fa fa-utensils fa-2x text-primary"></i>
                      <div class="ps-3">
                          <small class="text-body">Lovely</small>
                          <h6 class="mt-n1 mb-0">Dinner</h6>
                      </div>
                  </button>
              </li>
          </ul>

          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                      <div *ngFor="let product of productsDisplayed" class="col-lg-6">
                          <div class="d-flex align-items-center">
                              <img class="flex-shrink-0 img-fluid rounded" [src]="product.image" alt="" style="width: 80px;">
                              <div class="w-100 d-flex flex-column text-start ps-4">
                                  <h5 class="d-flex justify-content-between border-bottom pb-2">
                                      <span>{{product.name}}</span>
                                      <span class="text-primary">&#8358; {{product.price}}</span>
                                  </h5>
                                  <small class="fst-italic">{{product.description.slice(0,30)}}</small>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
<!-- Menu End -->




<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content rounded-0">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- 16:9 aspect ratio -->
              <div class="ratio ratio-16x9">
                  <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                      allow="autoplay"></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Reservation Start -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
      <div class="text-center">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
          <h1 class="mb-5">Our Clients Say!!!</h1>
      </div>
      <div class="">

        <owl-carousel-o [options]="customOptions">

          <ng-container >
            <ng-template carouselSlide>
              <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>My wife and I, vacationing in Abuja, had lunch at AI and we were both absolutely pleased with everything at your place. Your wait staff was so pleasant and helpfull. Your menu is classic African executed authentically. Do not change a thing!! You are spot on!</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Felix</h5>
                        <small>Banker</small>
                    </div>
                </div>
            </div>
            </ng-template>
          </ng-container>
          <ng-container >
            <ng-template carouselSlide>
              <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Thank you for dinner last night. It was amazing!! I have to say it’s the best meal I have had in quite some time. You will definitely be seeing more of me eating at your restaurant. My husband was very impressed and we can’t wait for our parents to come visit so that we can share our new favorite place with them.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Amanda</h5>
                        <small>Nurse</small>
                    </div>
                </div>
            </div>
            </ng-template>
          </ng-container>
          <ng-container >
            <ng-template carouselSlide>
              <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>I just want to let you know that I had one of the best dinners of my life at your restaurant!!

                  I have been out of town and I saw the email about the 3-course Naija Day/Week dinner. It was a last minute thing and I love Peppered Chicken Suya, so I decided to go. Anyway, I had the hot Amala with Abula and the fruit tart. Everything was just superb!</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Dorothy</h5>
                        <small>Teacher</small>
                    </div>
                </div>
            </div>
            </ng-template>
          </ng-container>

          <ng-container >
            <ng-template carouselSlide>
              <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Thank you so much for organising such a seamless catering experience! The food was amazing, the staff were so polite and helpful. The guests raved about the food & we couldn’t have been any happier with the level and quality of service provided.
                A huge thank you to everyone involved with our wedding catering and a massive thank you for the unforgettable experience.

                  </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Bukola</h5>
                        <small>Data Analyst</small>
                    </div>
                </div>
            </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>








      </div>
  </div>
</div>
<!-- Testimonial End -->

<a *ngIf="scrolled" (click)="scrollToTop()" href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>


